#myMap {
	border: 1px solid black;	
	height: 750px;
}

#myTitle {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	padding-bottom: 25px;
	color: #75D97B;
}

#cognitechLogo {
	position: absolute;
	left: 0px;
	top: 1px;
	z-index: -1;
	width: 100%;
}

#cognitechSmallLogo {
	display:none;
}

@media screen and (max-width: 1500px) {
	.noMobile {
		display: none;
	}

	#cognitechLogo {
		display:none;
	}

	#cognitechSmallLogo {
		display: inline;
		position: absolute;
		left: 30px;
		top: 25px;
		z-index: -1;
		width: 100%;
	}

	.mobile {
		display: inline;
		position: absolute;
		left: 0px;
		top: -20px;
		z-index: -1;
		width: 100%;
	}

	#myMap {
		border: 1px solid black;	
		height: 525px;
	}

	#myTitle {
		text-align: center;
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
		padding-bottom: 10px;
		color: #75D97B;
	}
}